*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  margin: 0;
  width: 100%;
 
    font-family: "Poppins", system-ui;
    font-weight: 100;
    font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-image: url('./Components/Assets/ops.jpg'); */
  background: radial-gradient(circle, #2E8A31, #1A5E1F) !important;
  background-size: cover;
  background-position: center; 
}
