@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  /* box-sizing: border- box; */
  color: white;
  text-align: center;
}


  body{
    margin: 0;
    width: 100%;
   
      font-family: "Poppins", system-ui;
      font-weight: 100;
      font-style: normal;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-image: url('./Components/Assets/ops.jpg'); */
    background: radial-gradient(circle, #2E8A31, #1A5E1F) !important;
    background-size: cover;
    background-position: center; 
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 80px;
  color: white;
  position: fixed;
  width: 100vw;
  height: 100px;
  padding-top: 40px;   
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centerScreen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%; /* Full width */
  max-width: 800px; /* Maximum width */
  padding: 20px; /* Inner spacing */
  margin: auto;
}

.wrapper{
  width: 600px;
  height: 130px;
  background:  #c7c5c5;
  border-radius:20px ;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.wrapper h1{
  font-size: 40px;
  text-align: center;
}

.wrapper .input-box{
  position: relative;
  width: 120%;
  height: 40px;
  margin: 40px 0;
}

.input-box input{
  width: 120%;
  height: 100%;
  background: transparent;
  border: 2px solid #3e3737;
  outline: none;
  border-radius: 1200px;
  font-size: 15px;
  color: #000;
  padding: 5px 5px 5px 5px;
}

.input-box input::placeholder {
  color: #000;
}

.input-box .icon{
  position: absolute;
  right: 20px;
  top: 49%;
  transform: translateY(-50%);
  font-size: 16px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -25px 0 50px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 8px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.wrapper button{
  width: 100%;
  height: 45px;
  background:#fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #43bc45;
  font-weight: 700;
}

.wrapper .register-link{
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a{
color: #fff;
text-decoration: none;
font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.wrapper-stop{
  margin: 100px;
  padding: 0;
}
